{<<"app">>,<<"storage">>}.
{<<"build_tools">>,[<<"mix">>]}.
{<<"description">>,<<"Simple file management library">>}.
{<<"elixir">>,<<"~> 1.6">>}.
{<<"files">>,
 [<<"mix.exs">>,<<"README.md">>,<<"lib">>,<<"lib/adapters">>,
  <<"lib/adapters/adapter.ex">>,<<"lib/adapters/local.ex">>,<<"lib/file.ex">>,
  <<"lib/object.ex">>,<<"lib/storage.ex">>,<<"lib/support.ex">>]}.
{<<"licenses">>,[<<"Apache 2.0">>]}.
{<<"links">>,[{<<"GitHub">>,<<"https://github.com/gavlak/storage">>}]}.
{<<"maintainers">>,[<<"Adam Gavlák"/utf8>>]}.
{<<"name">>,<<"storage">>}.
{<<"requirements">>,
 [[{<<"app">>,<<"plug">>},
   {<<"name">>,<<"plug">>},
   {<<"optional">>,false},
   {<<"repository">>,<<"hexpm">>},
   {<<"requirement">>,<<"~> 1.0">>}]]}.
{<<"version">>,<<"0.2.0">>}.
